@model ListItemModel

@{
    Layout = "";
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <link href="~/lib/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/listStyle.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" media="screen" />
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <!--Date time Picker-->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/momentjs/2.14.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>

    <title>EList - Dashboard</title>
    <meta name="msapplication-config" content="/docs/4.5/assets/img/favicons/browserconfig.xml">
    <meta name="theme-color" content="#563d7c">

</head>
<body style="background-color: #908383">
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 border-bottom box-shadow nopadding" style="background-color: #D9534F">
        <a class="navbar-brand" href="#"><img src="~/images/logodashboard.png" width="100" style="padding: 5px" /></a>
        <nav class="my-2 my-md-0 mr-md-3 float-right">
            <a class="p-2 text-dark float-right" asp-controller="Account" asp-action="Signout">Sign Out</a>
        </nav>
    </div>

    <div style="display:table; width:100%">
        <div style="display:table-row">
            <div style="display:table-cell; width:30%" class="nopadding container-style-left">
                <img src="~/images/bgdashboard.png" class="col-12 nopadding" />
            </div>
            <div style="display:table-cell; vertical-align:top; padding-top:20px; padding-left:30px; padding-right:30px">
                <div class="input-group md-form form-sm form-2 pl-0" style="padding-bottom:30px; padding-right:20px">
                    
                    <div class="col-12 " style="display:flex; flex-direction:row; justify-content:space-between">
                        <div class="col-10 input-group mb-3" style="height:40px">
                            <input type="text" style="height:40px" class="form-control" placeholder="Search List" aria-label="Search List" aria-describedby="buttonSearch">
                            <div class="input-group-append" style="height:40px">
                                <button class="btn btn-danger" type="button" id="buttonSearch">Search</button>
                            </div>
                        </div>
                        <!-- Button trigger modal -->
                        <button type="button" data-toggle="modal" data-target="#addModal" class="col-2 btn btn-danger btn-signin" style="margin-left:40px; border-radius: 25px; width:120px; height:40px ">+ ADD</button>
                        <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
                            <form asp-action="CreateList" asp-controller="List">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header bg-danger">
                                            <h5 class="modal-title" id="addModalLabel">Create List</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <input type="text" asp-for="List.ListName" class="form-control " placeholder="List Title e.g Math" />
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-danger">Save</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
                <div class="cardParent">
                    @foreach (var m in Model.Lists)
                    {
                    
                    <div class="card mb-4 shadow-sm cardSingle">
                       
                        <div class="text-center" style="height: 220px">
                            <div class="card-header" style="height:50px;width:100%;background-color:#C034B7">
                                <button asp-controller="Home" asp-action="DeleteList" asp-route-id="@m.ListId" type="button" class="close" data-toggle="modal" data-target="#closeModal">
                                    <span aria-hidden="true">&times;</span>
                                </button>

                                <!-- Modal -->
                                <form asp-action="DeleteList" asp-controller="List" method="post" asp-route-id="@m.ListId">
                                    <div class="modal fade" id="closeModal" tabindex="-1" aria-labelledby="closeModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Delete List</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    Are you aure you want to delete @m.ListName?
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                    <button type="submit" class="btn btn-danger">Save changes</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>

                            </div>

                            <button type="button" class="btn" data-toggle="modal" data-target="#addItem" style="display:inline; width: 100%;height: 80%">

                                <div class="@m.ListColor">
                                    @if (m.ListName == null)
                                    {
                                        <h3 style="position:absolute; left:60px; top:6rem; color:black">No name</h3>
                                    }
                                    else
                                    {
                                        <h3 style="position:absolute; left:60px; top:6rem; color:black">@m.ListName</h3>
                                    }
                                </div>
                            </button>
                        </div>

                    </div>
                        <!-- Modal -->
                        <div class=" modal fade" id="addItem" tabindex="-1" role="dialog" aria-labelledby="addItemTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-scrollable" role="document" style="width:800px">
                                <div class="modal-content" >
                                    <div class="modal-header" style=" width: auto; height: 60px; background-color: #C034B7;text-align:center">
                                        <button style="border:none; background:none; "><img src="~/images/color.png" height="24" width="24" /></button>
                                        <span aria-hidden="true">
                                            <i class="fa fa-bell-slash" aria-hidden="true"></i>
                                        </span>
                                        <h5 class="modal-title text-center" id="addItemTitle" style="color: #FFFFFF; margin-left:30%">@m.ListName</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <ul class="list-group list-group-flush">
                                            @for (int i = 0; i < 3; i++)
                                            {
                                                <li class="list-group-item">
                                                    <!-- Default checked -->
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="check2">
                                                        <label class="custom-control-label" for="check2">
                                                            Item @i
                                                        </label>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                </li>
                                            }

                                        </ul>
                                        <a data-toggle="collapse" href="#collapseCompleted" role="button" aria-expanded="false" aria-controls="collapseCompleted">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="addItemTitle">Completed</h5>
                                            </div>
                                        </a>
                                        <div class="collapse" id="collapseCompleted">
                                            <div class="card card-body">
                                                <ul class="list-group list-group-flush">
                                                    @for (int i = 0; i < 2; i++)
                                                    {
                                                        <li class="list-group-item">
                                                            <!-- Default checked -->
                                                            <div class="custom-control custom-checkbox">
                                                                <input type="checkbox" class="custom-control-input" id="check1" checked>
                                                                <label class="custom-control-label" for="check1" style="text-decoration-line: line-through;">Item 1</label>
                                                            </div>
                                                        </li>

                                                    }
                                                </ul>
                                            </div>
                                        </div>


                                    </div>
                                  


                                    <div class="modal-footer">
                                        <div style="display:flex; flex-direction: column; width:100%">
                                            <form asp-action="CreateItem" asp-controller="Item" method="post" style="width:100%;display:flex;flex-direction:row;">
                                                <label style="width:150px">Add New Item: </label>
                                                <div class="input-group mb-3">
                                                    <input type="text" asp-for="Item.Description" class="form-control" placeholder="Item description" aria-label="Description" aria-describedby="buttonAdd">
                                                    <div class="input-group-append">
                                                        <button class="btn btn-outline-secondary" type="submit" id="buttonAdd">ADD</button>
                                                    </div>
                                                </div>
                                            </form>

                                            <label class="text-muted float-right"><small style="float:right">Last Edited: 2020-11-23</small></label>

                                        </div>

                                    </div>
                                </div>

                            </div>

                        </div>
                        <!--Modal Ended-->

                    }
                </div>
            </div>
        </div>
    </div>

    <!--Jquery for Collapse(should be on top)-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.js" integrity="sha256-DrT5NfxfbHvMHux31Lkhxg42LY6of8TaYyK50jnxRnM=" crossorigin="anonymous"></script>
    <script>
        $(function () {
            $('#datetimepicker1').datetimepicker();
        });</script>
    <script src="~/lib/js/bootstrap.min.js"></script>

    <!-- jQuery and JS bundle w/ Popper.js -->
    @*<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/momentjs/2.14.1/moment.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>*@
</body>
</html>