@model ListItemModel

@{
    Layout = "";
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <link href="~/lib/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/listStyle.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" media="screen" />
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <!--Date time Picker-->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/momentjs/2.14.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>

    <title>EList - Dashboard</title>
    <meta name="msapplication-config" content="/docs/4.5/assets/img/favicons/browserconfig.xml">
    <meta name="theme-color" content="#563d7c">

</head>
<body style="background-color: #908383">
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 border-bottom box-shadow nopadding" style="background-color: #D9534F">
        <a class="navbar-brand" href="#"><img src="~/images/logodashboard.png" width="100" style="padding: 5px" /></a>
        <nav class="my-2 my-md-0 mr-md-3 float-right">
            <a class="p-2 text-dark" href="#">Sign Out</a>
        </nav>
    </div>

    <div style="display:table; width:100%">
        <div style="display:table-row">

            <div style="display:table-cell; width:30%" class="nopadding container-style-left">
                <img src="~/images/bgdashboard.png" class="col-12 nopadding" />
            </div>
            <div style="display:table-cell; vertical-align:top; padding-top:20px; padding-left:30px; padding-right:30px">
                <div class="input-group md-form form-sm form-2 pl-0" style="padding-bottom:30px; padding-right:20px">
                    <input class="form-control my-0 py-1" type="text" placeholder="Search" aria-label="Search">
                    <div class="input-group-append">
                        <span class="input-group-text bg-white lighten-3" id="basic-text1">
                            <img src="~/images/searchicon.png" width="20" />
                        </span>
                        <button class="col-8 btn btn-danger btn-signin" style="margin-left:40px; border-radius: 25px ">+ ADD</button>
                    </div>

                </div>
                <div class="cardParent">
                    @foreach (var m in Model.List)
                    {

                        <div class="card mb-4 shadow-sm cardSingle">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addItem" asp-controller="Home" asp-action="GotoList" asp-route-id="@m.ListId" style="display:inline">
                                <a asp-controller="Home" asp-action="DeleteList" asp-route-id="@m.ListId" style="color:red; float:right">X</a>
                                <div class="card-header @m.ListColor" style="width:3rem; height:15rem">
                                    @if (m.ListName == null)
                                    {
                                        <h3 style="position:absolute; left:60px; top:6rem; color:black">No name</h3>
                                    }
                                    else
                                    {
                                        <h3 style="position:absolute; left:60px; top:6rem; color:black">@m.ListName</h3>
                                    }
                                </div>
                            </button>
                        </div>
                        <!-- Modal -->
                        <div class=" modal fade" id="addItem" tabindex="-1" role="dialog" aria-labelledby="addItemTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-scrollable" role="document">
                                <div class="modal-content">
                                    <div class="modal-header" style=" width: auto; height: 80px; background-color: #C034B7;">
                                        <button style="border:none; background:none; "><img src="~/images/color.png" height="32" width="32" /></button>
                                        <h5 class="modal-title" id="addItemTitle" style="color: #FFFFFF">@m.ListName</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <ul class="list-group list-group-flush">
                                            @for (int i = 0; i < 3; i++)
                                            {
                                                <li class="list-group-item">
                                                    <!-- Default checked -->
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="check2">
                                                        <label class="custom-control-label" for="check2">
                                                            <input type='text' class="form-control " style="border:none" />
                                                        </label>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>

                                                        <button type="button" class="bell" data-toggle="modal" data-target="#reminder">
                                                            <span aria-hidden="true">
                                                                <i class="fa fa-bell-slash" aria-hidden="true"></i>
                                                            </span>
                                                        </button>

                                                        <!-- Modal -->
                                                        <div class="modal fade" id="reminder" tabindex="-2" aria-labelledby="reminderLabel" aria-hidden="true">
                                                            <div class="modal-dialog">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title" id="reminderLabel">Pick Date & Time</h5>
                                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                            <span aria-hidden="true">&times;</span>
                                                                        </button>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        <div class='input-group date' id='datetimepicker1'>
                                                                            <input type='text' class="form-control" />
                                                                            <span class="input-group-addon">
                                                                                <span class="glyphicon glyphicon-calendar"></span>
                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                                        <button type="button" class="btn btn-danger">Save changes</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>


                                                    </div>
                                                </li>
                                            }

                                            <li class="list-group-item">
                                                <!-- Default checked -->
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id="check2">
                                                    <label class="custom-control-label" for="check2">Item 6</label>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                    <button type="button" class="bell" data-dismiss="modal" aria-label="Bell">
                                                        <span aria-hidden="true">
                                                            <i class="fa fa-bell-slash-o" aria-hidden="true"></i>
                                                        </span>
                                                    </button>

                                                </div>
                                            </li>

                                        </ul>
                                        <a data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="addItemTitle">Completed</h5>
                                            </div>
                                        </a>

                                        <div class="collapse" id="collapseExample">
                                            <div class="card card-body">
                                                <ul class="list-group list-group-flush">
                                                    <li class="list-group-item">
                                                        <!-- Default checked -->
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="check1" checked>
                                                            <label class="custom-control-label" for="check1" style="text-decoration-line: line-through;">Item 1</label>
                                                        </div>
                                                    </li>
                                                    <li class="list-group-item">
                                                        <!-- Default checked -->
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="check2">
                                                            <label class="custom-control-label" for="check2" style="text-decoration-line: line-through;">Item 2</label>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>


                                    </div>

                                    <div class="modal-footer">
                                        <label class="text-muted">Last Edited: 2020-11-23</label>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <!--Modal Ended-->

                    }
                </div>
            </div>
        </div>
    </div>

    <!--Jquery for Collapse(should be on top)-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.js" integrity="sha256-DrT5NfxfbHvMHux31Lkhxg42LY6of8TaYyK50jnxRnM=" crossorigin="anonymous"></script>
    <script>
        $(function () {
            $('#datetimepicker1').datetimepicker();
        });</script>
    <script src="~/lib/js/bootstrap.min.js"></script>

    <!-- jQuery and JS bundle w/ Popper.js -->
    @*<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/momentjs/2.14.1/moment.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>*@
</body>
</html>