@model ListItemModel

@{
    Layout = "";
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <link href="~/lib/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/listStyle.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" media="screen" />
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />


    <title>EList - Dashboard</title>
    <meta name="msapplication-config" content="/docs/4.5/assets/img/favicons/browserconfig.xml">
    <meta name="theme-color" content="#563d7c">

</head>
<body style="background-color: #908383">
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 border-bottom box-shadow nopadding" style="background-color: #D9534F">
        <a class="navbar-brand" href="#"><img src="~/images/logodashboard.png" width="100" style="padding: 5px" /></a>
        <nav class="my-2 my-md-0 mr-md-3 float-right">
            <a class="p-2 text-dark float-right" asp-controller="Account" asp-action="Signout">Sign Out</a>
        </nav>
    </div>

    <div style="display:table; width:100%">
        <div style="display:table-row">
            <div style="display:table-cell; width:30%" class="nopadding container-style-left">
                <img src="~/images/bgdashboard.png" class="col-12 nopadding" />
            </div>
            <div style="display:table-cell; vertical-align:top; padding-top:20px; padding-left:30px; padding-right:30px">
                <div class="input-group md-form form-sm form-2 pl-0" style="padding-bottom:30px; padding-right:20px">

                    <div class="col-12 " style="display:flex; flex-direction:row; justify-content:space-between">
                        <div class="col-10 input-group mb-3" style="height:40px">
                            <input type="text" style="height:40px" class="form-control" placeholder="Search List" aria-label="Search List" aria-describedby="buttonSearch">
                            <div class="input-group-append" style="height:40px">
                                <button class="btn btn-danger" type="button" id="buttonSearch">Search</button>
                            </div>
                        </div>
                        <!-- Button trigger modal -->
                        <button type="button" data-toggle="modal" data-target="#addModal" class="col-2 btn btn-danger btn-signin" style="margin-left:40px; border-radius: 25px; width:120px; height:40px ">+ ADD</button>
                        <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
                            <form asp-action="CreateList" asp-controller="List">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header bg-danger">
                                            <h5 class="modal-title" id="addModalLabel">Create List</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <input type="text" asp-for="List.ListName" class="form-control " placeholder="List Title e.g Math" />

                                            </div>
                                                <div class="form-group">
                                                    <select asp-for="List.ListColor" asp-items="Html.GetEnumSelectList<ListColors>()" class="form-control">
                                                        <option value="" disabled="disabled" selected>Choose a List Color</option>
                                                    </select>
                                                </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-danger">Save</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                @if (TempData["message"] != null)
                {<div class="alert alert-success" id="alert" style="width:50%;margin:10px;text-align:center">@TempData["message"]</div>}
                @if (TempData["error"] != null)
                {<div class="alert alert-danger" id="alert" style="width:50%;margin:10px;text-align:center">@TempData["error"]</div>}
                <div class="cardParent">
                    @foreach (var m in Model.Lists)
                    {

                        <div class="card mb-4 shadow-sm cardSingle">

                            <div class="text-center" style="height: 220px">
                                <div class="card-header @m.color" style="height:50px;width:100%;">
                                    <button type="button" class="close" data-toggle="modal" data-target="#closeModal@(m.ListId)">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <button type="button" class="btn" data-toggle="modal" data-target="#editList@(m.ListId)" style="border:none;background:none;float: left !important;line-height: 1">
                                        <span aria-hidden="true"><img src="~/images/edit.png" height="16" width="16" /></span>
                                    </button>

                                    <!-- Modal -->

                                    <div class="modal fade" id="closeModal@(m.ListId)" tabindex="-1" aria-labelledby="closeModalLabel4" aria-hidden="true">

                                        <div class="modal-dialog">
                                            <form asp-action="DeleteList" asp-controller="List" method="post" asp-route-id="@m.ListId">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">Delete List</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        Are you aure you want to delete @m.ListName?
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                        <button type="submit" class="btn btn-danger">Delete</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>

                                    </div>


                                    <!--Edit List Modal-->
                                    <div class="modal fade" id="editList@(m.ListId)" tabindex="-1" aria-labelledby="editListLabel4" aria-hidden="true">

                                        <div class="modal-dialog">
                                            <form asp-action="EditList" asp-controller="List" method="post" asp-route-id="@m.ListId">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="editListLabel">Edit List</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <input type=hidden asp-for="List.Items" value="@m.Items" />
                                                        <input type=hidden asp-for="List.ReminderDateTime" value="@m.ReminderDateTime" />
                                                        <input type=hidden asp-for="List.LastEdited" value="@m.LastEdited" />
                                                        <input type=hidden asp-for="List.ListId" value="@m.ListId" />
                                                        <div class="form-group">
                                                            <input asp-for="List.ListName" class="form-control" value="@m.ListName" />

                                                        </div>
                                                        <div class="form-group">
                                                            <select asp-for="List.ListColor" asp-items="Html.GetEnumSelectList<ListColors>()" class="form-control">
                                                                <option value="" disabled="disabled" selected>Choose a List Color</option>
                                                                <option value="@m.ListColor" selected>@m.ListColor</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                        <button type="submit" class="btn btn-danger">Save</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>

                                    </div>



                                </div>



                                <button type="button" class="btn" data-toggle="modal" data-target="#addItem@(m.ListId)" style="display:inline; width: 100%;height: 80%">

                                    <div class="@m.ListColor">
                                        @if (m.ListName == null)
                                        {
                                            <h3 style="position:center; left:60px; top:6rem; color:black">No name</h3>
                                        }
                                        else
                                        {
                                            <h3 style="position:center; left:60px; top:6rem; color:black">@m.ListName</h3>
                                        }
                                    </div>
                                </button>
                            </div>

                        </div>
                        <!-- Modal -->
                        <div class=" modal fade" id="addItem@(m.ListId)" tabindex="-1" role="dialog" aria-labelledby="addItemTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document" style="width:1200px">
                                <div class="modal-content">
                                    <div class="modal-header" style="display:flex;flex-direction:row;justify-content:space-between; width: auto; height: 60px; background-color: #C034B7; text-align:center">
                                        <button style="border:none; background:none; "><img src="~/images/color.png" height="32" width="32" /></button>

                                        <h3 class="modal-title" id="addItemTitle" style="color: #FFFFFF;margin-left:auto;margin-right:auto;">@m.ListName</h3>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>

                                    </div>
                                    <div class="modal-body">
                                        <ul class="list-group list-group-flush">

                                            @foreach (var i in Model.Items)
                                            {

                                                <li class="list-group-item">
                                                    <!-- Default checked -->
                                                    <form asp-action="PatchIsCompleted" asp-controller="Item" asp-route-id="@m.ListId">
                                                        <input type="hidden" asp-for="Item.ItemId" value="@i.ItemId" />
                                                        <input type="hidden" asp-for="Item.IsCompleted" value="@i.IsCompleted" />
                                                        <button type="submit" style="background:none;border:none"><img src=@i.Url style="border:none;background:none; height:16px;width:16px" /></button>

                                                    </form>
                                                    <label for="@i.ItemId">
                                                        @i.Description
                                                    </label>
                                                    <!-- Button trigger modal -->
                                                    <button type="button" class="btn close" data-toggle="modal" aria-label="Close" data-target="#deleteItem@(i.ItemId)">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                    <!-- Modal -->
                                                    <div class="modal fade" id="deleteItem@(i.ItemId)" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog" role="document">
                                                            <form asp-action="DeleteItem" asp-controller="Item" method="post" asp-route-id="@m.ListId" asp-route-itemId="@i.ItemId">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title" id="exampleModalLabel">Delete Item</h5>
                                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                            <span aria-hidden="true">&times;</span>
                                                                        </button>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        Are you sure you want to delete?
                                                                    </div>

                                                                    <div class="modal-footer">
                                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                                                                        <button type="submit" class="btn btn-danger">Delete</button>

                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>

                                                    <!-- Button trigger modal -->
                                                    <button class="btn btn-item-edit" type="button" data-toggle="collapse" data-target="#editCollapse@(i.ItemId)" aria-expanded="false" aria-controls="editCollapse" style=" margin-left: 10px; margin-right: 10px; border: none; background: none; float: right; line-height: 1;">
                                                        <span aria-hidden="true"><img src="~/images/edit.png" height="16" width="16" /></span>
                                                    </button>
                                                    <div class="collapse" id="editCollapse@(i.ItemId)">
                                                        <div class="col-12">
                                                            <form asp-action="EditItem" asp-controller="Item" asp-route-id="@m.ListId" method="post" class="col-12">
                                                                <div class="input-group mb-3">
                                                                    <input type="hidden" asp-for="Item.ItemId" value="@i.ItemId" />
                                                                    <input class="col-8 form-control" asp-for="Item.Description" value="@i.Description" aria-label="Description" aria-describedby="buttonEdit" style=" padding: 15px; height: 40px; border-top-left-radius: 5px; border-bottom-left-radius: 5px;"> <!-- style=" padding: 15px; height: 40px; border-top-left-radius: 5px; border-bottom-left-radius: 5px;"-->
                                                                    <div class="input-group-append">
                                                                        <button class="btn btn-outline-danger" type="submit" id="buttonEdit">Save</button>
                                                                    </div>
                                                                </div>

                                                            </form>
                                                        </div>

                                                    </div>
                                                </li>
                                            }
                                        </ul>

                                        <a data-toggle="collapse" href="#collapseCompleted" role="button" aria-expanded="false" aria-controls="collapseCompleted">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="addItemTitle">Completed</h5>
                                            </div>
                                        </a>
                                        <div class="collapse" id="collapseCompleted">
                                            <div class="card card-body">
                                                <ul class="list-group list-group-flush">
                                                    @foreach (var ci in Model.CompletedItems)
                                                    {
                                                        <li class="list-group-item">
                                                            <!-- Default checked -->
                                                            <form asp-action="PatchIsCompleted" asp-controller="Item" asp-route-id="@m.ListId">
                                                                <input type="hidden" asp-for="Item.ItemId" value="@ci.ItemId" />
                                                                <input type="hidden" asp-for="Item.IsCompleted" value="@ci.IsCompleted" />
                                                                <button type="submit" style="background:none;border:none"><img src=@ci.Url style="border:none;background:none; height:16px;width:16px" /></button>

                                                            </form>
                                                            <label for="@ci.ItemId">
                                                                @ci.Description
                                                            </label>
                                                            <!-- Button trigger modal -->
                                                            <button type="button" class="btn close" data-toggle="modal" aria-label="Close" data-target="#deleteItem@(ci.ItemId)">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                            <!-- Modal -->
                                                            <div class="modal fade" id="deleteItem@(ci.ItemId)" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                                <div class="modal-dialog" role="document">
                                                                    <form asp-action="DeleteItem" asp-controller="Item" method="post" asp-route-id="@m.ListId" asp-route-itemId="@ci.ItemId">
                                                                        <div class="modal-content">
                                                                            <div class="modal-header">
                                                                                <h5 class="modal-title" id="exampleModalLabel">Delete Item</h5>
                                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                                    <span aria-hidden="true">&times;</span>
                                                                                </button>
                                                                            </div>
                                                                            <div class="modal-body">
                                                                                Are you sure you want to delete?
                                                                            </div>

                                                                            <div class="modal-footer">
                                                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                                                                                <button type="submit" class="btn btn-danger">Delete</button>

                                                                            </div>
                                                                        </div>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    }
                                                </ul>
                                            </div>
                                        </div>


                                    </div>

                                    <div class="modal-footer">
                                        <div style="display:flex; flex-direction: column; width:100%">
                                            <label style="width:150px">Add New Item: </label>
                                            <form asp-action="CreateItem" asp-controller="Item" asp-route-id="@m.ListId" method="post" style="width:100%;display:flex;flex-direction:row;">
                                                <div class="input-group mb-3">
                                                    <input type="hidden" name="ListId" value="@m.ListId" />

                                                    <input type="text" asp-for="Item.Description" class="form-control" placeholder="Item description" aria-label="Description" aria-describedby="buttonAdd">
                                                    <div class="input-group-append">
                                                        <button class="btn btn-outline-secondary" type="submit" id="buttonAdd">ADD</button>
                                                    </div>

                                                </div>
                                            </form>
                                            <label class="text-muted float-right"><small style="float:right">Last Edited: @m.LastEdited.ToShortDateString() @m.LastEdited.ToShortTimeString()</small></label>
                                            <button type="button" class="bell" data-toggle="collapse" data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample2">
                                                <span aria-hidden="true">
                                                    <i class="fa fa-bell-slash" aria-hidden="true"></i>
                                                </span>
                                            </button>


                                            <div class="collapse" id="collapseExample2">
                                                <div class='input-group date' id='datetimepicker1'>
                                                    <input id="datePickerForNotification" type='datetime-local' class="form-control" />
                                                    <span class="input-group-addon">
                                                        <span class="glyphicon glyphicon-calendar"></span>
                                                    </span>
                                                </div>
                                                <button class="btn btn-outline-secondary" onclick="setNotification('@m.ListName')">Set</button>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>

                        </div>
                        <!--Modal Ended-->

                    }
                </div>
            </div>
        </div>
    </div>
    <!--Jquery for Collapse(should be on top)-->
    <script type="text/javascript" src="~/js/Notification.js">
    </script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.js" integrity="sha256-DrT5NfxfbHvMHux31Lkhxg42LY6of8TaYyK50jnxRnM=" crossorigin="anonymous"></script>
    <script src="~/lib/js/bootstrap.min.js"></script>

</body>
</html>